@charset "UTF-8";

.custom-img-size {
	max-width: 100px; /* Ajusta este valor según tus necesidades */
	width: 100%;
	/* Asegura que la imagen ocupe todo el espacio disponible */
	height: auto; /* Mantiene la proporción */
	display: block; /* Asegura que se comporte como un bloque */
}

.link-image {
	cursor: pointer; /* Cambia el cursor a un puntero */
}

.navbar-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-navbar {
	margin-bottom: 0;
	padding-bottom: 20px;/* Asegura que haya espacio suficiente entre el header y el navbar */
}

.navbar-container {
	width: 100%;
	margin-top: 0; /* Asegura que no haya margen superior */
	overflow: hidden;
}


.custom-img-size {
	max-width: 100px; /* Ajusta el tamaño según tus necesidades */
}

.navbar-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.navbar-title-container h1, .navbar-title-container h4 {
	margin: 0;
}

.custom-img-size-insta {
	 float: right;
     margin-right: 10px; /* Espacio entre las imágenes */
     max-width: 30px; /* Ajusta este valor según tus necesidades */
     height: auto;
}

.custom-img-size-face {
	 float: right;
     margin-right: 10px; /* Espacio entre las imágenes */
     max-width: 30px; /* Ajusta este valor según tus necesidades */
     height: auto;
}

.custom-img-size-youtu {
	 float: right;
     margin-right: 10px; /* Espacio entre las imágenes */
     max-width: 50px; /* Ajusta este valor según tus necesidades */
     height: auto;
}

.imagenes-container {
	display: flex;
	align-items: center;
	text-align: center;
}

footer {
  background-color: black;
  padding: 15px;
  text-align: center;
  bottom: 0; /* Fija el footer en la parte inferior */
  width: 100%;
}

main {
    padding: 2rem;
}

main h2 {
    color: #005a9c;
    margin-bottom: 1rem;
}

main p {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.carousel-inner {
	display: block;
    justify-content: center; /* Centra horizontalmente */
    height: auto; /* Ajusta la altura del contenedor según sea necesario */
}

.imagen1 {
	max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.imagen2 {
	max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */ 
}

.imagen3 {
	max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */ 
}
