<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/styles.css"/>

<style>
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
</style>

<body>

<header data-th-insert="/layouts/header :: header"></header>
<nav data-th-insert="/layouts/header :: navbar"></nav>

	<div class="container">
		<h1>Formulario Alumno</h1>
		<form data-th-object="${nuevoAlumno}">
			<div class="mb-3">
				<label for="exampleInputdni" class="form-label">DNI</label> <input type="text" class="form-control"
					id="exampleInputdni" aria-describedby="dniHelp">
				<div id="dniHelp" class="form-text">Una vez ingresado el DNI, no podrá modificarlo</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputNomYApell" class="form-label">Apellido y Nombre</label> <input type="text" class="form-control"
					id="exampleInputNomYApell">
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email
					address</label> <input type="email" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">Agregar un email valido</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputTel" class="form-label">Telefono</label> <input type="number" class="form-control"
					id="exampleInputTel">
			</div>
			<div class="mb-3">
				<label for="exampleInputFec" class="form-label">Fecha de Nacimiento</label> <input type="date" class="form-control"
					id="exampleInputFec">
			</div>
			<div class="mb-3">
				<label for="exampleInputDoc" class="form-label">Domicilio</label> <input type="text" class="form-control"
					id="exampleInputDoc">
			</div>
			<div class="mb-3">
				<label for="exampleInputLU" class="form-label">Libreta Universitaria</label>
				<input type="number" class="form-control"
					id="exampleInputLU">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">La informacion proporcionada es correcta</label>
			</div>
			<button type="submit" class="btn btn-primary">Agregar</button>
		</form>
	</div>
	
	<br>
	<br>
	
	<footer data-th-insert="/layouts/footer :: footer"></footer>

<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>